/* Reset CSS */
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  color: #ccc;
}

/* Variáveis */
:root {
  --color-light: #ffffff;
  --color-blue: #6959c5;
  --transition: 0.5s;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

/* Formatações genéricas */
a {
  text-decoration: none;
  color: var(--color-light);
  font-weight: 900;
  transition: var(--transition);
}

img {
  max-width: 100%;
  max-height: 100%;
}

.btn {
  background-color: var(--color-blue);
  border: 2px solid var(--color-blue);
  padding: 8px 3.5rem;
  border-radius: 5px;
  color: var(--color-light);
  transition: var(--transition);
}

.btn:hover {
  background-color: transparent;
  color: var(--color-blue);
}

/* Seções adicionais do código... */

.hero {
  min-height: 100vh;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  position: relative;
}

.hero-content {
  padding: 0 6rem;
  color: var(--color-light);
  box-sizing: border-box; /* Adicionado para garantir que o padding não ultrapasse o tamanho total */
  position: absolute;
  top: 50%; /* Move o conteúdo para o meio verticalmente */
  left: 50%; /* Move o conteúdo para o meio horizontalmente */
  transform: translate(-50%, -50%); /* Centraliza o conteúdo no meio do .hero */
  width: 100%; /* Garante que a largura do conteúdo seja 100% do .hero */
}
.hero-content h2 {
  font-size: 10vh;
  width: 100%;
}

.hero-content .btn {
  margin: 0 auto;
}

.hero-content p {
  font-weight: normal;
  margin-bottom: 2rem;
  line-height: 3.6rem;
  font-size: 3vh;
  max-width: 500px;
}

.hotel-title {
  font-size: 5vmin;
  text-align: center;
  margin: 4rem 0 2rem;
  color: var(--color-blue);
  border: none;
}

.hotel-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.hotel-item {
  width: 80%;
  max-width: 350px;
  margin: 3rem 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  box-shadow: 1px 1px 30px #ccc;
  border-radius: 5px;
  transition: background-image 5s;
}

.hotel-item h3 {
  margin: 2rem 0;
  font-weight: 800;
}

.hotel-item p {
  margin: 0 0 3rem;
  width: 90%;
}

.hotel-item:hover {
  transform: scale(1.1);
  background-color: #EFE6FF;
}

.hotel-item:hover p,
.hotel-item:hover h3 {
  color: var(--color-blue);
  transition: var(--transition);
}





